.admin_form_container{
     display: flex;
      justify-content: space-around;
        align-items: center;
        flex-wrap: wrap-reverse;
         margin-top: 20px;;
          flex-direction: row-reverse;
         font-family: 'Bricolage Grotesque', sans-serif;
         font-family: 'Lato', sans-serif;
          /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.admin_form_container form {
    /* border: 1px solid rgb(33, 2, 2); */
    width: 500px;;
     display: flex;
        align-items: center;
        justify-items: baseline;
        justify-items: center;
      justify-content: space-around;
       flex-direction: column;
        padding: 23px;;
       
        box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);

}
 .admin_form_container form input {
     width: 80%;
      border: none;
       
 }
  .admin_form_container input[type='password']{
     padding: 14px;
  }
   .admin_form_container input[type='email']{
     padding: 14px;;
   }
  .admin_form_container form input[type='password']{
     margin:13px 0px 13px 0px;
        padding: 14px;;
  }